@import url("https://assembl.ch/import/css/fonts.css");

html {
    background-color: #193864;
    background: linear-gradient(45deg, #19285C, #0036B7);
    background-attachment: fixed;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
}

html, body {
    display: block;
}

body {
    margin: 0px;
    padding: 0px;
    color: #1A1A1A;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 400;
    caret-color: #1A1A1A;
    width: 100%;
    height: 100%;
    font-size: 18px;
}

b, th {
    font-weight: 700;
}

a:not(.assembl-btn), a:not(.assembl-btn):visited {
    color: #004CFF;
    /* color: #0036B7; */
    cursor: pointer;
    text-decoration: none;
}

a:not(.assembl-btn):hover, a:not(.assembl-btn):focus, a:not(.assembl-btn):active {
    color: #004CFF;
    text-decoration: underline;
	outline: 0;
}

.signin-table {
    display: table;
    height: 100%;
    width: 100%;
}

.signin-table-cell {
    display: table-cell;
    vertical-align: middle;
}

.signin-table-cell-content {
    display: block;
    margin: 28px auto;
    text-align: center;
    width: 85%;
    max-width: 350px;
    padding: 32px 24px;
    background: #FAFAFA;
    border-radius: 5px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    position: relative;
}

/* loading */
#loading {
    display: none;
    text-align: center;
    border-radius: inherit;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background: rgba(0,0,0,0.7);
    z-index: 999;
    /*
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    -moz-backdrop-filter: blur(5px);
    */
}

.loading-svg {
    display: block;
    width: 80px;
    height: 80px;
    margin: -40px;
    position: absolute;
    top: 50%;
    left: 50%;
    right: 50%;
    bottom: 50%;
    animation: rotate 0.6s linear 0s infinite;
    transform-origin: center;
}

h1 {
    display: block;
    font-family: 'Renner', Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 42px;
    line-height: 44px;
    color: #1A1A1A;
    text-align: center;
    user-select: none;
    letter-spacing: 0.2px;
    cursor: default;
    margin: 12px 0px 24px 0px;
}

h2 {
    margin: 0px 0px 8px 0px;
    padding: 0px;
    font-size: 26px;
    line-height: 33px;
    font-weight: 400;
    font-family: 'Renner', Helvetica, Arial, sans-serif;
}

hr {
    display: block;
    margin: 26px 0px 32px 0px;
    border: none;
    height: 1px;
    width: 100%;
    background: #D3D3D3;
}

fieldset {
    display: block;
    border: none;
    padding: 12px 0px;
    margin: 60px 0px;
    text-align: left;
}

legend {
    display: block;
    text-align: left;
    text-transform: uppercase;
    font-family: 'Renner', Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 15px;
    padding: 0px;
    margin: 0px;
    color: #5A5A5A;
}

/* bugfix for webkit browsers and legend elements */
legend + * {
    -webkit-margin-top-collapse: separate;
}

label {
    display: block;
    font-size: 15px;
    margin: 12px 0px 0px 0px;
    text-align: left;
}

label.forcheckbox {
    display: inline-block;
    vertical-align: middle;
    margin: 0px 0px 0px 4px;
    line-height: 20px;
    font-size: 16px;
}

.reasoning {
    font-size: 19px;
    text-align: left;
    font-weight: 400;
    font-family: 'Renner', Helvetica, Arial, sans-serif;
}

.form-error {
    font-size: 15px;
    color: #FC0233;
    font-weight: bold;
    text-align: left;
}

.form-error.centered, .reasoning.centered {
    text-align: center;
}

.form-error.centered:has(ul), .reasoning.centerd:has(ul) {
    text-align: left;
}

.form-error ul, .reasoning ul {
    text-align: left !important;
    padding-left: 24px;
    margin: 2px 0px;
}

.form-error:not(:empty) + input, .form-error:not(:empty) + .g-recaptcha > * {
    border-color: #FC0233;
}

input[type=checkbox], input[type=radio] {
    display: inline-block;
    vertical-align: middle;
    margin: 8px 0px 8px 0px;
    background: rgba(0,0,0,0.075);
    border: solid 1px rgba(0,0,0,0.1);
    border-radius: 2px;
    transition: 0.25s;
}

input[type=checkbox]:hover, input[type=radio]:hover, input[type=checkbox]:focus, input[type=radio]:focus {
    border-color: #004CFF !important;
    transition: 0.05s;
    outline: 0;
}

.assembl-input {
    display: block;
    padding: 8px 6px;
    height: 36px;
    background: rgba(0,0,0,0.075);
    color: #1A1A1A;
    font-size: 16px;
    line-height: 20px;
    font-family: Helvetica, Arial, sans-serif;
    border: solid 1px rgba(0,0,0,0.1);
    border-radius: 2px;
    text-align: left;
    width: 100%;
    -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
    box-sizing: border-box;
    transition: 0.25s;
}

.assembl-input:hover, .assembl-input:focus {
    border-color: #004CFF !important;
    transition: 0.05s;
    outline: 0;
}

input[type=password] {
    letter-spacing: 3px;
}

.g-recaptcha {
    width: 100%;
    text-align: center;
}

.g-recaptcha > * {
    margin: 0 auto;
}

.assembl-btn {
    margin-top: 12px;
    display: inline-block;
    background-color: #0036B7;
    color: #FFFFFF;
    transition: 0.25s;
    cursor: pointer;
    border: 0;
    padding: 8px 16px;
    border-radius: 3px;
    font-size: 17px;
    font-family: 'Renner', Helvetica, Arial, sans-serif;
    font-weight: 400;
    line-height: 20px;
    height: 36px;
    box-shadow: 0px 0px 0px 0px rgba(5,5,5,0);
    text-decoration: none;
}

.assembl-btn:hover, .assembl-btn:focus, .assembl-btn:active {
    background-color: #004CFF;
    transition: 0.05s;
    outline: 0;
    text-decoration: none;
}

.assembl-btn:active {
    box-shadow: inset 0px 0px 4px 0px rgba(5,5,5,0.8);
    transform: scale(0.98);
    text-decoration: none;
}

.assembl-btn > * {
    vertical-align: middle;
}

.assembl-btn > img {
    margin-right: 12px;
}

.assembl-btn.full-width {
    display: block;
    width: 100%;
    -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
    box-sizing: border-box;
}

.assembl-btn.on-right {
    min-width: 110px;
}

.below-submit {
    font-size: small;
    margin-top: 10px;
    height: 12px;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}